# Prerequisites
debug/
debug_arm/
build-can_a7-arm-Debug/
build-can_a7-unknown-Debug/
heart_frame.sh
report_angle_frame.sh
can_util.txt
can_a7.pro.user
can_a7.pro.user.169bed6.4.8-pre1
can_a7.pro.user.222d34f.22
build-can_a7-A7-Debug/
copycan.sh

